.app {
  text-align: center;
}

.nav {
  margin-top: 10px;
}

a {
  font-family: 'runda';
  text-decoration: none;
  font-size: normal;
  font-weight: normal;
}

div {
  font-family: 'Courier New', Courier, monospace;
}