body {
  font-family: "Open Sans"; 
}

a {
  font-family: "Open Sans";
}

h1 { 
  font-family: "Open Sans"; 
}

h3 { 
  font-family: "Open Sans";
}

p {
  font-family: "Open Sans";
}

blockquote {
  font-family: "Open Sans";
}

pre {
  font-family: "Open Sans"; 
}

.app {
  text-align: center;
}

.is-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.is-text-aligned-left {
  text-align: left;
}

.is-right {
  float: right;
}

div {
  font-family: 'Courier New', Courier, monospace;
}

.circle {
  border-radius: 50%;
  max-height: 100px !important;
}

.name {
  padding-left: 10px;
}

.calendar {
  min-width:320px;
  height:630px;
}

.big-image {
  max-height: 600px;
}

.card {
  width: 800px;
  min-height: 400px;
  padding: 20px;
}

.bio {
  font-size: 14pt;
}