.app {
  text-align: center;
}

.is-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.is-text-aligned-left {
  text-align: left;
}

div {
  font-family: 'Courier New', Courier, monospace;
}

.circle {
  border-radius: 50%;
  max-height: 100px !important;
}

.name {
  padding-left: 10px;
}

.calendar {
  min-width:320px;
  height:630px;
}

.big-image {
  max-height: 600px;
}